* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color,
.size,
.erase,
.rainbow,
.reset {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.color:hover,
.size:hover,
.erase:hover,
.rainbow:hover,
.reset:hover {
  background-color: #fff;
}

.form1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sketchScreen {
  display: flex;
  width: 600px;
  height: 600px;
}

.col {
  background-color: #fff;
}
.row {
  background-color: #fff;
}

.sketchScreen > div {
  height: auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.sketchScreen > div > * {
  flex: 1;
}
