* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
}

.active {
    background-color: red;
}

h1 {
    height:100px;
    color:#000;
    text-align: center;

}

.menu {
    display:flex;
    flex:'1';
    justify-content: space-around;
}
.color,
.pixel,
.erase,
.rainbow,
.reset {
    border:1px solid black;
    padding:10px;
    cursor: pointer;
}
.container{
    display:flex;
    flex-direction: column;
    margin:20px;
}

.color:hover,
.pixel:hover,
.erase:hover,
.rainbow:hover,
.reset:hover {
    background-color: #fff;
}
